/node_modules
/public/hot
/public/storage
/public/uploads/*
/storage/*.key
/storage/app/paid/*
/vendor
.env
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/dataSources.
.DS_Store
